


@keyframes textGlow {
  0%, 100% {
    text-shadow: 0 0 5px #0ff;
  }
  50% {
    text-shadow: 0 0 10px #0ff, 0 0 20px #0ff;
  }
}



.logo {
  animation: textGlow 3s infinite;
}

.logo span {
  color: rgb(133, 215, 218) !important;
}

.neon-border {
  border: 2px solid #0ff;
  box-shadow: 0 0 20px #0ff;
  animation: neonBorder 2s infinite;
}
