<div class="max-w-6xl mx-auto mt-10 text-white">
  <div class="logo flex justify-center text-center mt-6">
    <span class="text-3xl font-bold">
      <i class="fas fa-microchip mr-1"></i>EDITA O ELIMINA TU REGISTRO
    </span>
  </div>

  <br><br>

  <div class="flex flex-wrap justify-center gap-6">
    <div *ngFor="let cliente of clientes" class="group relative [perspective:1000px] w-[270px] h-[300px]">
      <div class="card absolute w-full h-full duration-1000 [transform-style:preserve-3d] group-hover:[transform:rotateX(180deg)]">

        <div class="neon-border absolute w-full h-full rounded-xl p-6 [backface-visibility:hidden] bg-gradient-to-br from-gray-800 to-gray-900 shadow-xl text-white flex flex-col justify-end items-center transition-all duration-300 ease-in-out hover:shadow-2xl text-center">
          
          <div class="mb-3 border-b border-gray-700 pb-2 w-full">
            <p class="text-lg font-semibold">Nombre: <span class="font-normal">{{ cliente.nombre | capitalizar }}</span></p>          </div>

          <div class="mb-3 border-b border-gray-700 pb-2 w-full">
            <p class="text-lg font-semibold">Correo: <span class="font-normal">{{ cliente.correo | ocultarCorreo }}</span></p>          </div>

          <div class="mb-3 border-b border-gray-700 pb-2 w-full">
            <p class="text-lg font-semibold">Teléfono: <span class="font-normal">{{ cliente.telefono | ocultarNumero }}</span></p>          </div>

          <p class="text-lg font-semibold">Dirección: <span class="font-normal">{{ cliente.direccion | capitalizar }}</span></p>
          <p class="mt-auto text-xs text-pink-400 italic">Pasa el mouse para más opciones</p>
        </div>

        <div class="neon-border  w-full h-full rounded-xl p-6 text-white [transform:rotateX(180deg)] [backface-visibility:hidden] bg-white from-gray-900 to-gray-800 flex flex-col justify-center items-center gap-4 shadow-xl text-center">
          <button [routerLink]="['/clientes', cliente.id]" class="bg-cyan-500 text-white px-5 py-2 rounded-lg font-medium hover:bg-cyan-400 transition">
            Editar
          </button>
          <button class="bg-red-600 text-white px-5 py-2 rounded-lg font-medium hover:bg-red-500 transition" (click)="eliminar(cliente.id)">
            Eliminar
          </button>
        </div>

      </div>
    </div>
  </div>
</div>

<br><br><br>
