<nav class="fixed w-full z-50">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex justify-between items-center h-20">
      <div class="flex-shrink-0 flex items-center">
        <div class="logo">
          <span class="text-3xl font-bold">
            <i class="fas fa-microchip mr-1"></i>TechNova
          </span>
        </div>
      </div>

      <div class="flex items-center space-x-8">
        <a routerLink="/home" class="nav-link px-2 py-1 font-bold text-xl">Inicio</a>
        <a routerLink="/productos" class="nav-link px-1 py-2 font-bold text-xl">Productos</a>
        <a routerLink="/sobreNosotros" class="nav-link px-1 py-2 font-bold text-xl">Nosotros</a>
        <a routerLink="/contacto" class="nav-link px-1 py-2 font-bold text-xl">Contacto</a>

        <button routerLink="/formulario" class="tech-btn px-2 py-2 rounded font-semibold">
          <i class="fas fa-envelope-open-text mr-2"></i>Suscripción
        </button>

<ng-container *ngIf="!authServicio.sesionIniciada()">
  <button routerLink="/login" class="tech-btn px-1 py-2 rounded font-semibold">
    <i class="fas fa-user mr-2"></i>Iniciar Sesión
  </button>

  <button routerLink="/registro" class="tech-btn px-1 py-2 rounded font-semibold">
    <i class="fas fa-user-plus mr-2"></i>Registro
  </button>
</ng-container>

<ng-container *ngIf="authServicio.sesionIniciada()">
  <button (click)="cerrarSesion()" class="tech-btn px-2 py-2 rounded font-semibold">
    <i class="fas fa-sign-out-alt mr-2"></i>Cerrar Sesión
  </button>
</ng-container>

      </div>
    </div>
  </div>
</nav>
