   
<app-carrusel></app-carrusel>

<div class="about-us-container">
  <div class="about-us-card">
    <h1 class="about-us-title">Beneficios de Ser Distribuidor</h1>

    <div class="features-grid">
      <div class="feature-item">
        <i class="fas fa-network-wired feature-icon"></i>
        <h3>Acceso Exclusivo</h3>
        <p>Obtén acceso a todas nuestras plataformas para ver precios y disponibilidad de productos.</p>
      </div>

      <div class="feature-item">
        <i class="fas fa-tags feature-icon"></i>
        <h3>Precios Mayoristas</h3>
        <p>Precios al por mayor en todos nuestros productos. Descuentos, promociones y ofertas actualizadas constantemente.</p>
      </div>

      <div class="feature-item">
        <i class="fas fa-chart-line feature-icon"></i>
        <h3>Crecimiento Constante</h3>
        <p>Posibilidad de crecimiento y mejores beneficios. Acceso a capacitaciones con nuestros socios estratégicos.</p>
      </div>

      <div class="feature-item">
        <i class="fas fa-handshake feature-icon"></i>
        <h3>Asesoría Personalizada</h3>
        <p>Atención directa de ejecutivos de ventas y jefes de marca especializados. Soporte y garantía directa de fábrica.</p>
      </div>
    </div>
  </div>
</div>

<h1 class="section-title">Productos más vendidos</h1>

<div class="container">
         <div class="card__container">
            <article class="card__article">
               <img src="https://honorstore.ec/cdn/shop/files/HONOR-200-Pro-Aquamarino.webp?v=1737159438&width=1946" alt="image" class="card__img">

               <div class="card__data">
                  <span class="card__description">Honor 200PRO</span>
                  <h2 class="card__title">512GB de almacenamiento</h2>
                  <a href="#" class="card__button">Ver mas</a>
               </div>
            </article>

            <article class="card__article">
               <img src="https://m.media-amazon.com/images/I/61n0lmxP5-L._AC_SX569_.jpg" alt="image" class="card__img">

               <div class="card__data">
                  <span class="card__description">SAMSUNG GALAXY S25 ULTRA </span>
                  <h2 class="card__title">512 GB de almacenamiento</h2>
                  <a href="#" class="card__button">Ver mas</a>
               </div>
            </article>

            <article class="card__article">
               <img src="https://tienda.movistar.com.ec/media/catalog/product/cache/d730591e49ae7d4a1adb9133c8cae915/i/p/iphone-16-negro-doble-movistar.png" alt="image" class="card__img">

               <div class="card__data">
                  <span class="card__description">IPHONE 15 </span>
                  <h2 class="card__title">Capacidad: 128gb</h2>
                  <a href="#" class="card__button">Ver mas</a>
               </div>
            </article>
         </div>
      </div>

